.choose-payment-method {
  display: grid;
  gap: 4rem;
}

.choose-payment-method div {
  display: flex;
  justify-content: space-between;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 2rem;
}

.choose-payment-method div:hover {
  background-color: var(--color-verde-2);
  cursor: pointer;
}

.choose-payment-method p {
  align-self: center;
}

.payment-method-details {
  display: none;
}

.payment-method-details img {
  width: 100%;
  max-width: 35rem;
}

#cardForm {
  padding-top: 2rem;
  display: grid;
  gap: 1rem;
}

#cardForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#cardForm input {
  width: 100%;
  width: 45rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

#cardForm input::placeholder {
  color: var(--color-black-opaco);
}

#cardForm p {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-weight: 500;
}
