html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-white);
  font-family: "Sora", sans-serif;
}

h1 {
  font-size: 6.4rem;
  font-weight: 600;
  color: var(--color-black);
}

h2 {
  font-size: 4.2rem;
  font-weight: 700;
  color: var(--color-verde-4);
}

h3 {
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--color-verde-4);
}

p {
  font-size: 2.4rem;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

.container {
  width: 100%;
  max-width: 168rem;
  margin: 0 auto;
}

.section-title-center {
  display: flex;
  justify-content: center;
}

.button-buy-now a {
  background-color: var(--color-verde-3);
  display: inline-block;
  padding: 2rem 4rem;
  text-decoration: none;
  color: var(--color-white);
  border-radius: 1rem;
  font-size: 2.4rem;
  transition: transform 0.3s ease;
  font-weight: 500;
}

.button-buy-now a:hover {
  transform: scale(1.1);
  background-color: var(--color-verde-2);
  color: var(--color-verde-4);
}

.button-add-to-cart a {
  background-color: var(--color-bege-full);
  display: inline-block;
  padding: 2rem 4rem;
  text-decoration: none;
  color: var(--color-verde-4);
  border-radius: 1rem;
  font-size: 2.4rem;
  transition: transform 0.3s ease;
  font-weight: 500;
  transition: color 0.3s ease;
}

.button-add-to-cart a:hover {
  color: var(--color-white);
}
.rating span {
  font-size: 2.4rem;
}

.checked {
  color: #f2e145;
  text-shadow: 0 0 0.1rem var(--color-black);
}

/* Regras para todas as classes que começam com "container-" dentro de um elemento com a classe "container" */
.container [class^="container-"] {
  padding-top: 10rem;
  display: grid;
  gap: 4rem;
}
