@media screen and (max-width: 144rem) {
  html {
    font-size: 46.8%;
  }

  .container {
    max-width: 120rem;
  }

  .container-navbar {
    max-width: 120rem;
  }

  .carousel-inner {
    max-width: 120rem;
  }

  .container-footer {
    max-width: 120rem;
  }
}
