:root {
  --color-white: #f8f8ff;
  --color-black: #252422;
  --color-black-opaco: rgba(37, 36, 34, 0.5);
  --color-bege: rgba(218, 215, 205, 0.5); /*background 50%*/
  --color-bege-full: #dad7cd;
  --color-verde-1: rgba(202, 210, 197, 0.5); /*background 50%*/
  --color-verde-2: #84a98c;
  --color-verde-3: #52796f;
  --color-verde-3-opaco: rgba(82, 121, 111, 0.5);
  --color-verde-4: #2f3e46;
}
