.main-product{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 18rem;
    gap: 5rem;
}
.gallery {
    width: 100%;
    max-width: 100rem;
    border-radius: 0.5rem; 
}
.main-image{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-verde-1);
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    width: 100%;
    aspect-ratio: 1/1;
}

.main-image img {
  width: 50rem;
  height: 65rem;
  object-fit: contain;
}

.thumbnails {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin-top: 1rem;
    gap: 1rem;
}

.thumbnail {
    width: 100%;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: transform 0.2s;
    background-color: var(--color-verde-1);  
    aspect-ratio: 1/1; 
}
.thumbnails img {
    object-fit: contain;
}
.thumbnail:hover {
    transform: scale(1.1);
}
  