.container-orders .section-title {
  padding-top: 18rem;
}

.grid-column-products {
  display: grid;
  gap: 5rem;
  margin-top: 10rem;
}

.column-individual-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column-individual-product .image-info-individual-product {
  display: flex;
  gap: 4rem;
}

.column-individual-product .background-individual-product {
  background-color: var(--color-verde-3-opaco);
  border-radius: 1rem;
}

.column-individual-product .background-individual-product img {
  width: 18rem;
  height: 18rem;
  object-fit: contain;
}

.column-individual-product .info-individual-product {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.column-individual-product .info-individual-product > p {
  font-weight: 600;
}

.info-individual-product .details-info-individual-product span {
  font-size: 2rem;
  color: var(--color-black-opaco);
  font-weight: 500;
}

.info-individual-product .details-info-individual-product p {
  font-size: 2rem;
  font-weight: 500;
}

.button-track,
.button-received {
  align-self: center;
  margin-left: auto;
}

.button-track {
  transition: transform 0.3s ease;
}

.button-track a {
  background-color: var(--color-verde-2);
  padding: 1rem 4rem;
  font-size: 2.4rem;
  font-weight: 600;
  border-radius: 1rem;
}

.button-track:hover {
  transform: scale(1.1);
}

.button-received p {
  background-color: var(--color-verde-4);
  color: var(--color-white);
  padding: 1rem 4rem;
  font-size: 2.4rem;
  font-weight: 600;
  border-radius: 1rem;
}
