#title-orders {
    margin-top: 180px;
    
    display: flex;
    width: 100%;
    max-width: 900px; /* Mesma largura máxima do container */
    margin-left: auto;
    margin-right: auto;
    
}

.container-orders {
    justify-content: center;
    display: flex;
    width: 100%;
    max-width: 900px;
    flex-wrap: wrap;
    margin: 113px auto; 
    gap: 20px; 
}

.first-product, .second-product, .third-product {
    display: flex;
    width: 100%; 
}

.prod-info-first {
    margin-left: 43.34px;
    display: flex;
    flex-direction: column;
}

p {
    color: #828282;
}

.info-first {
    margin-top: 37px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.track-button, .track-button2 {
    height: 55px;
    margin-top: 53px;
    margin-left: auto; 
    padding: 2rem 3.5rem;
    background-color: #84A98C;
    color: #2F3E46;
    border-radius: 1rem;
    font-size: 3rem;
    transition: transform 0.3s ease;
    font-weight: 500;
}

.track-button3 {
    height: 55px;
    margin-top: 53px;
    margin-left: auto; 
    padding: 2rem 3.5rem;
    background-color: #82828261;
    color: #2F3E46;
    border-radius: 1rem;
    font-size: 3rem;
    transition: transform 0.3s ease;
    font-weight: 500;
}

.second-product {
    display: flex;
    margin-top: 50px;
}

.prod-info-second {
    margin-left: 43.34px;
    display: flex;
    flex-direction: column;
}

.info-second {
    margin-top: 37px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.third-product {
    display: flex;
    margin-top: 50px;
}

.prod-info-third {
    margin-left: 43.34px;
    display: flex;
    flex-direction: column;
}

.info-third {
    margin-top: 85px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.track-button:hover, .track-button2:hover {
    transform: scale(1.1);
    background-color: var(--color-verde-2);
    color: var(--color-verde-4);
}

footer {
    margin-top: 315px;
}
